
.list {
	@extend %fullscreen;
	@extend %scroll;
	-webkit-animation-duration: 1ms;
	        animation-duration: 1ms;

	&.horizontal {
		@extend %hscroll;
	}

	.empty p {
		font-size: 34px;
		padding: 60px 40px 20px 40px;
		text-align: center;
	}
	.loadMore {
		// Spinner
		padding: 20px 0;
		height: 50px;
		text-align: center;
		// Bar
		// height: 10px;
	}
}

.listItem {
	box-sizing: border-box;
}
.listItem.active-state {}

.optionList {
	@extend .list;

	.listItem {}
	.listItem.active-state {}
}

.groupList {
	@extend .list;
	padding-top: 10px;

	.groupListItem {
		font-size: 0;
		padding: 10px 0 10px 10px;
		clear: both;
	}
	.sticked {
		position: fixed;
		background: rgba(255, 255, 255, 0.95);
		border-bottom: 1px solid #CCC;
		text-align: center;
		.groupTitle {
			background: transparent;
		}
		.separator {
			display :none;
		}
	}

	.groupTitle, .timeAgo, .date {
		background-color: white;
		padding-right: 10px;
		text-transform: uppercase;
	}
	.timeAgo {
		padding-right: 0;
	}
	.date {
		padding: 0 10px;
	}
	.separator {}

}

