
$overlay-color: rgba(40,47,57,0.27);

$regular-font: 'helvetica';
$bold-font: 'helvetica';
$italic-font: 'helvetica';

$nav-height: 44px;
$tab-height: 50px;
$toolbar-height: 44px;
$ios-iphone-x-margin-bottom: 20px;

$icon-font: 'unieuro';

@import '../../styles/style.scss';

//
// Example style
//

html, body {
	height: 100%;
	overflow: hidden;
}

#application {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.ui-navigation {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: $nav-height;
	background-color: #1ca5d7;
}

.ui-page {
	position: absolute;
	top: $nav-height;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: white;
}

.ui-list-item {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
.cellA,
.cellB,
.cellC {
	@extend %fitContainer;
}
.cellA {
	background-color: #d9eec1;
}
.cellB {
	background-color: #c1e2ee;
}
.cellC {
	background-color: #eed4c1;
}

.button {
	border: 0;
	height: 44px;
	background-color: #c41b65;
	color: white;
	margin-bottom: 5px;
	border-radius: 8px;
}

.menu-page {
	padding: 0 20px;
}


// Swipe list item view
.ui-swipe-list-item {
	height: 120px;
}
.ui-swipe-list-item-drawer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	background-color: white;
	box-sizing: border-box;
	border-bottom: 1px solid #eee;
}
.ui-swipe-list-item-actions {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	background-color: #ccc;
}
.ui-swipe-list-item-actions-left {
	right: 50%;
}
.action-active .ui-swipe-list-item-actions-left {
	background-color: #f2ab33;
}
.ui-swipe-list-item-actions-right {
	left: 50%;
}
.action-active .ui-swipe-list-item-actions-right {
	background-color: #df1c1c;
}
