
%header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 20px;
	height: $toolbar-height;
	overflow: hidden;
}

%fullscreen, %fitContainer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
%noScroll {
	overflow: initial;
	-webkit-overflow-scrolling: auto;
	        overflow-scrolling: auto;
}
%scroll {
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	        overflow-scrolling: touch;
}
%hscroll {
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	        overflow-scrolling: touch;
}
%center-flex-box{
	display: flex;
	display: -webkit-flex;
	-webkit-flex-direction: column;
		flex-direction: column;
	-webkit-justify-content: center;
		justify-content: center;
}


.overflow-scroll {
	@extend %scroll;
}
.overflow-scroll.horizontal {
	@extend %hscroll;
}

.swipe-back .overflow-scroll,
.deactivate .overflow-scroll,
.overflow-scroll.swipe-back,
.overflow-scroll.deactivate {
	-webkit-overflow-scrolling: auto !important;
	        overflow-scrolling: auto !important;
}


// .hide {
// 	display: none;
// }

// http://thesassway.com/intermediate/responsive-web-design-in-sass-using-media-queries-in-sass-32
@mixin respond-to($media) {
	@if $media == retina {
		@media ( -webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { @content; }
	}
	@else if $media == smallPhone {
		@media only screen and ( max-height: 480px ) { @content; }
	}
	@else if $media == mediumPhone {
		@media only screen and ( max-height: 568px ) { @content; }
	}
	@else if $media == extraSmallPhone {
		@media only screen and ( max-height: 400px ) { @content; }
	}
	@else if $media == tablet {
		@media only screen and ( min-width: 600px ) { @content; }
	}
	@else if $media == potraitTablet {
		@media only screen and ( min-width: 600px ) and ( max-width: 1024px ){ @content; }
	}
	@else if $media == landscapeTablet {
		@media only screen and ( min-width: 1025px ) { @content; }
	}
}

// Incrementa l'area cliccabile
@mixin touchable($size: 10px) {
	&:after {
		position: absolute;
		content: '';
		top: -$size;
		right: -$size;
		bottom: -$size;
		left: -$size;
	}
}

// Center box
@mixin center-box($top, $left) {
	position: absolute;
	top: $top;
	left: $left;
	transform: translate3d(-50%, -50%, 0);
}

// Text truncate on multi-line
@mixin text-truncate($line) {
	@if $line == 1 {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}@else{
		display: -webkit-box;
		-webkit-line-clamp: $line;
		-webkit-box-orient: vertical;
	}
}
