
.ios-navigation-bar{
	text-align: center;
	.left-side{
		position: absolute;
		top: 0;
		left: 0;
		text-align: left;
	}
	.center-side{
		display: inline-block;
		width: calc( 100% - 200px );
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.right-side{
		position: absolute;
		top: 0;
		right: 0;
		text-align: right;
	}
}